name: All Tests Status

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main

jobs:
  all-tests-check:
    name: All Tests Check
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    permissions:
      actions: read
      contents: read
    steps:
      - name: Wait for other workflows
        uses: int128/wait-for-workflows-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
